
<section class='connector'>
  <img src='images/cat-and-dog.gif' alt='Cat and Dog' />
  <section class='searchBar'>
    <p>Search for your new best friend:</p>
    <input type='text' />
    <button>Search</button>
  </section>
  <section class='mainContainer'>
    <section class='subContainersdogcat'>
      {{#each cats}}
        <section class='subContainer1'>
          <h2>{{this.name}}</h2>
          <p>Breed: {{this.breed}}</p>
          <p>Age: {{this.age}} years</p>
          <p>Description: {{this.description}}</p>
          <img src='images/{{this.photo}}' alt='{{this.name}}' />

          {{#if ../logged_in}}
      {{#if this.Adoptions}}
        {{#unless (eq this.Adoptions.adoption_status 'approved')}}
          <button onclick="location.href='/adoptions?animal_id={{this.id}}'">Adopt it!</button>
        {{else}}
          <!-- Show adoption status -->
          <p>Status: {{this.Adoptions.adoption_status}}</p>
        {{/unless}}
      {{else}}
        <!-- If no adoption record, show adopt button -->
        <button onclick="location.href='/adoption-form?animal_id={{this.id}}'">Adopt it!</button>
      {{/if}}
    {{/if}}

          <div class='checkbox-wrapper'>
            <input type='checkbox' id='favorites-{{this.id}}' />
            <label for='favorites-{{this.id}}'>Add to favorites</label>
          </div>
        </section>
      {{else}}
        <p>No cats available for adoption.</p>
      {{/each}}
    </section>
  </section>
</section>


<script src='/js/logout.js'></script>